<h2>Flickr Client</h2>

<%= form_with method: :get do |form| %>
  <%= form.label :flickr_id, "Flickr ID" %>
  <%= form.text_field :flickr_id %>
<% end %>

<% if @photos.any? %>

  <div class="container">
    <div class="user-info">
      <a href="<%= @user_photos %>">
        <%= @realname %>
      </a>
    </div>

    <div class="photos">

      <% @photos.each do |photo| %>
        <a href="<%= photo %>">
          <img src="<%= photo %>" alt="">
        </a>
      <% end %>
    </div>

  </div>
<% end %>
